{
    "openapi": "3.1.0",
    "info": {
      "version": "v2",
      "title": "Stark Bank API",
      "summary": "",
      "description": "Stark Bank API for financial services in Brazil.",
      "contact": {
        "email": "help@starkbank.com",
        "name": "Stark Bank Developers",
        "url": "https://starkbank.com"
      },
      "license": {
        "name": "Stark Bank License"
      }
    },
    "servers": [
      {
        "url": "https://sandbox.api.starkbank.com/",
        "description": "Sandbox Environment"
      },
      {
        "url": "https://api.starkbank.com/",
        "description": "Production Environment"
      }
    ],
    "paths": {
      "/transaction": {
        "post": {
          "tags": [
            "transaction"
          ],
          "summary": "Create transactionsABCDE",
          "description": "",
          "operationId": "createTransaction",
          "requestBody": {
            "description": "Transactions to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created transactions",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transactions"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "transaction"
          ],
          "summary": "List transactions",
          "operationId": "listTransactions",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "externalIds",
              "in": "query",
              "description": "List of strings to get specific entities by externalIds.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of transactions and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transactions"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/transaction/{transactionId}": {
        "get": {
          "tags": [
            "transaction"
          ],
          "summary": "Get transaction by ID",
          "operationId": "getTransaction",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "transactionId",
              "in": "path",
              "description": "Transaction unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated transaction json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/balance": {
        "get": {
          "tags": [
            "balance"
          ],
          "summary": "Get balances",
          "description": "Get the current balance in your workspace.",
          "operationId": "listBalances",
          "responses": {
            "200": {
              "description": "An array of balances and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Balances"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/v2/transfer": {
        "post": {
          "tags": [
            "Transfer"
          ],
          "summary": "Create transfers",
          "operationId": "createTransfers",
          "requestBody": {
            "description": "Transfers to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfers"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created transfers",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transfers"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "Transfer"
          ],
          "summary": "List transfers",
          "operationId": "listTransfers",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "transactionIds",
              "in": "query",
              "description": "Filter entities that are linked to the specified transactions.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filter boletos by the specified status.",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "taxId",
              "in": "query",
              "description": "Filter transfers sent to the specified taxId.",
              "required": false,
              "schema": {
                "type": "string",
                "pattern": "^((\\d{3}\\.\\d{3}\\.\\d{3}\\-\\d{2})|(\\d{11})|(\\d{2}\\.\\d{3}\\.\\d{3}\\/\\d{4}\\-\\d{2})|(\\d{14}))$"
              }
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Sort entities by the specified sort order. Options are \"-created\", \"created\", \"-updated\", \"updated\".",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "ids",
              "in": "query",
              "description": "List of strings to get specific entities by ids.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of transfers and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transfers"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/v2/transfer/{transferId}": {
        "get": {
          "tags": [
            "Transfer"
          ],
          "summary": "Get transfer by ID",
          "operationId": "getTransfer",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "transferId",
              "in": "path",
              "description": "Transfer unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated transfer json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransferInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/v2/transfer/{transferId}/pdf": {
        "get": {
          "tags": [
            "Transfer"
          ],
          "summary": "Get transfer PDF receipt by ID",
          "operationId": "getTransferPDF",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "transferId",
              "in": "path",
              "description": "Transfer unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Transfer PDF receipt blob",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/v2/transfer/log": {
        "get": {
          "tags": [
            "Transfer"
          ],
          "summary": "List transfer logs",
          "operationId": "listTransferLogs",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "types",
              "in": "query",
              "description": "Filter logs by log types.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "transferIds",
              "in": "query",
              "description": "Array of transfer ids that are linked to the desired logs.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of transfer logs and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransferLogs"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/v2/transfer/log/{logId}": {
        "get": {
          "tags": [
            "Transfer"
          ],
          "summary": "Get transfer log by ID",
          "operationId": "getTransferLog",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "logId",
              "in": "path",
              "description": "Log unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated transfer log json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransferLogInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice": {
        "post": {
          "tags": [
            "invoice"
          ],
          "summary": "Create invoices",
          "operationId": "createInvoices",
          "requestBody": {
            "description": "Invoices to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created invoices",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Invoices"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "List invoices",
          "operationId": "listInvoices",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filter invoices by the specified status.",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "ids",
              "in": "query",
              "description": "List of strings to get specific entities by ids.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of invoices and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Invoices"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice/{invoiceId}": {
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "Get invoice by ID",
          "operationId": "getInvoice",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "description": "Invoice unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated invoice json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InvoiceInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "patch": {
          "tags": [
            "invoice"
          ],
          "summary": "Update or refund an invoice by ID",
          "operationId": "patchInvoice",
          "parameters": [
            {
              "name": "invoiceId",
              "in": "path",
              "description": "Invoice unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "requestBody": {
            "description": "Invoice fields to be patched",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePatch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Updated invoice json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InvoiceInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice/{invoiceId}/pdf": {
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "Get invoice PDF by ID",
          "operationId": "getInvoicePDF",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "description": "Invoice unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Invoice QR code",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice/{invoiceId}/qrcode": {
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "Get invoice QR Code by ID",
          "operationId": "getInvoiceQRCode",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "format",
              "in": "query",
              "description": "output file format",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "description": "Invoice unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Invoice QR code",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice/log": {
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "List invoice logs",
          "operationId": "listInvoiceLogs",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "types",
              "in": "query",
              "description": "Filter logs by log types.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "invoiceIds",
              "in": "query",
              "description": "Array of invoice ids that are linked to the desired logs.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of invoice logs and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InvoiceLogs"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/invoice/log/{logId}": {
        "get": {
          "tags": [
            "invoice"
          ],
          "summary": "Get invoice log by ID",
          "operationId": "getInvoiceLog",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "logId",
              "in": "path",
              "description": "Log unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated invoice log json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InvoiceLogInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/deposit": {
        "get": {
          "tags": [
            "deposit"
          ],
          "summary": "List deposits",
          "operationId": "listDeposits",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filter deposits by the specified status.",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "ids",
              "in": "query",
              "description": "List of strings to get specific entities by ids.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Sort entities by the specified sort order. Options are \"-created\" and \"created\".",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of deposits and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Deposits"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/deposit/{depositId}": {
        "get": {
          "tags": [
            "deposit"
          ],
          "summary": "Get deposit by ID",
          "operationId": "getDeposit",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "depositId",
              "in": "path",
              "description": "Deposit unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated deposit json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DepositInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/deposit/log": {
        "get": {
          "tags": [
            "deposit"
          ],
          "summary": "List deposit logs",
          "operationId": "listDepositLogs",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "types",
              "in": "query",
              "description": "Filter logs by log types.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "depositIds",
              "in": "query",
              "description": "Array of deposit ids that are linked to the desired logs.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of deposit logs and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DepositLogs"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/deposit/log/{logId}": {
        "get": {
          "tags": [
            "deposit"
          ],
          "summary": "Get deposit log by ID",
          "operationId": "getDepositLog",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "logId",
              "in": "path",
              "description": "Log unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated deposit log json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DepositLogInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto": {
        "post": {
          "tags": [
            "Boleto"
          ],
          "summary": "Create boletos",
          "description": "This is how you create a new list of boletos. You can create up to 100 boletos per request. In case a boleto is paid after its due date and there is fine or interest, its amount will be updated with the paid amount. The same is valid if the boleto is paid with a discount.",
          "operationId": "createBoletos",
          "requestBody": {
            "description": "Boletos to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Boletos"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created boletos",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Boletos"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "Boleto"
          ],
          "summary": "List boletos",
          "operationId": "listBoletos",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filter boletos by the specified status.",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "ids",
              "in": "query",
              "description": "List of strings to get specific entities by ids.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of boletos and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Boletos"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto/{boletoId}": {
        "get": {
          "tags": [
            "Boleto"
          ],
          "summary": "Get boleto by ID",
          "operationId": "getBoleto",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "boletoId",
              "in": "path",
              "description": "Boleto unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated boleto json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "delete": {
          "tags": [
            "Boleto"
          ],
          "summary": "Cancel and delete a boleto by ID",
          "operationId": "cancelAndDeleteBoleto",
          "parameters": [
            {
              "name": "boletoId",
              "in": "path",
              "description": "Boleto unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Canceled/Deleted boleto json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto/{boletoId}/pdf": {
        "get": {
          "tags": [
            "Boleto"
          ],
          "summary": "Get boleto PDF by ID",
          "operationId": "getBoletoPDF",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "boletoId",
              "in": "path",
              "description": "Boleto unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Boleto PDF blob",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "contentMediaType": "application/octet-stream"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto/log": {
        "get": {
          "tags": [
            "Boleto"
          ],
          "summary": "List boleto logs",
          "operationId": "listBoletoLogs",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "types",
              "in": "query",
              "description": "Filter logs by log types.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "boletoIds",
              "in": "query",
              "description": "Array of boleto ids that are linked to the desired logs.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of boleto logs and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoLogs"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto/log/{logId}": {
        "get": {
          "tags": [
            "Boleto"
          ],
          "summary": "Get boleto log by ID",
          "operationId": "getBoletoLog",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "logId",
              "in": "path",
              "description": "Log unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated boleto log json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoLogInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto-holmes": {
        "post": {
          "tags": [
            "boletoHolmes"
          ],
          "summary": "Create boleto holmes",
          "operationId": "createBoletoHolmes",
          "requestBody": {
            "description": "Holmes to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoletoHolmes"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created boleto holmes",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoHolmes"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "boletoHolmes"
          ],
          "summary": "List boleto holmes",
          "operationId": "listBoletoHolmes",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "tags",
              "in": "query",
              "description": "Filter entities that contain the specified tags.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "ids",
              "in": "query",
              "description": "List of strings to get specific entities by ids.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filter holmes by the specified status.",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "boletoId",
              "in": "query",
              "description": "Filter holmes by the specified boleto.",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of holmes and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoHolmes"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto-holmes/{holmesId}": {
        "get": {
          "tags": [
            "boletoHolmes"
          ],
          "summary": "Get boleto holmes by ID",
          "operationId": "getBoletoHolmes",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "holmesId",
              "in": "path",
              "description": "Holmes unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated holmes json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoHolmesInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto-holmes/log": {
        "get": {
          "tags": [
            "boletoHolmes"
          ],
          "summary": "List boleto holmes logs",
          "operationId": "listBoletoHolmesLogs",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "byte"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per cursor. Max = 100.",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "after",
              "in": "query",
              "description": "Filter entities created after this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "before",
              "in": "query",
              "description": "Filter entities created before this date.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "types",
              "in": "query",
              "description": "Filter logs by log types.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "holmesIds",
              "in": "query",
              "description": "Array of holmes ids that are linked to the desired logs.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of holmes logs and the next page cursor",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoHolmesLogs"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/boleto-holmes/log/{logId}": {
        "get": {
          "tags": [
            "boletoHolmes"
          ],
          "summary": "Get boleto holmes log by ID",
          "operationId": "getBoletoHolmesLog",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "logId",
              "in": "path",
              "description": "Log unique identifier.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "^\\d{16}$"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updated holmes log json",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoletoHolmesLogInfo"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/brcode-preview": {
        "get": {
          "tags": [
            "brcodePreview"
          ],
          "summary": "Process BR Codes before creating BrcodePayments",
          "operationId": "ListBrcodePreviews",
          "parameters": [
            {
              "name": "fields",
              "in": "query",
              "description": "List of strings to filter response JSON keys.",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "brcodes",
              "in": "query",
              "description": "List of BR Codes to be processed.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A paged array of previews",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BrcodePreviews"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        }
      },
      "/brcode-payment": {
        "post": {
          "tags": [
            "brcodePayment"
          ],
          "summary": "Create BR Code payments",
          "operationId": "createBrcodePayments",
          "requestBody": {
            "description": "Payments to be created",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrcodePayments"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created BR Code payments",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BrcodePayments"
                  }
                }
              }
            },
            "400": {
              "description": "Input error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                  }
                }
              }
            },
            "default": {
              "description": "Unexpected error"
            }
          },
          "servers": [
            {
              "url": "https://sandbox.api.starkbank.com/",
              "description": "Sandbox Environment"
            },
            {
              "url": "https://api.starkbank.com/",
              "description": "Production Environment"
            }
          ]
        },
        "get": {
          "tags": [
            "brcodePayment"
          ],
          "summary": "List BR Code payments",
          "operationId": "listBrcodePayments",
          "parameters": [
            {
              "name": "cursor",
              "in": "query",
              "description": "String used to get the next batch of results.",
              "required": false,
              "schema": {
[...]
